 body {
      font-family: sans-serif;
      margin: 0;
    }

    #controls {
      height: 100px;
      padding: 40px;
    }

    input, button, div {
      margin: 0 5px;
      height: 30px;
    }

    input {
      text-indent: 5px;
    }

    span {
      width: 300px;
      font-size: 0.8em;
      color: tomato;
      padding: 4px;
      display: none;
    }

    button {
      color: white;
      background: DarkCyan;
      border: 1px solid white;
    }

    table td {
      padding: 10px;
      font-size: 0.8em;
      text-align: center;
      background-color: lightBlue;
    }

    table {
       animation: fadein 1s;
    }

    @keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}